body {
  height: 100vh;
  display: grid;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-image: linear-gradient(
    76.3deg,
    rgb(78, 44, 76) 12.6%,
    rgb(131, 69, 100) 82.8%
  );
}

#root{
  display: grid;
}
  

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}