<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="index.css" type="text/css" rel="stylesheet">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="main-container">
        <div id="first-block"></div>
        <div class="blue-block">1</div>
        <div class="yellow-block">2</div>
        <div class="green-block">3</div>
        <div class="blue-block">4</div>
        <div class="yellow-block">5</div>
        <div class="green-block">6</div>
        <div id="block7" class="black-block">7</div>
        <div id="block8" class="black-block">8</div>
        <div id="block9" class="white-block">9</div>
        <div id="block10" class="white-block">10</div>
        <div id="block11" class="white-block">11</div>
    </div>
</body>

</html>