/** 
  *
  *  ESTILOS GERAIS 
  *
  **/

* {
    margin: 0;
    padding: 0;
}

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
}

input {
    height: 20px;
    width: 500px;
}

button:focus {
    color: white;
}

img {
    width: 100px;
}

div>p:first-child {
    display: inline;
}

/* div img {
    background: black;
} */

.botao-amarelo {
    background-color: #ffaf43;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;

}

.botao-amarelo:hover {
    background-color: #c44f00;
}

.container {
    height: 350px;
    text-align: center;
    padding: 100px 0px 0px 0px;
}

.icone {
    height: 25px;
    width: 25px;
}


/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-de-descricao {
    background-color: #2274a5;
    color: white;
}

#container-de-descricao> ol {
    padding: 15px 850px;
    
}

#container-de-descricao> p {
    display: block;  
}


#container-para-comprar {
    background-color: #e7eb90;
}

#container-para-comprar>p {
    color: #c44f00;
    font-size: 60px;
    display: block;
}

#container-para-comprar>a {
    padding-top: 90px;
    display: block;
}


/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;
}

table {
    width: 60%;
    text-align: center;
    font-weight: bold;
}

td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;
}

.container-do-search {
    margin-top: 20px;
    height: 100px;
}

.botao{
    border: 0;
}

.botao:active{
    background-color: #2274a5;
    border: 0;
}


#back-button {
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
}

#back-button:hover {
    background-color: #635a3d
}

#back-button:active {
        background-color: yellow;
      }




